
:root {
  --color-bunny-dark: #04223e;
  --color-white: #fff;
  --color-bg: #f6f6f6;

  --color-bg-dark: #191a23;


  --color-dark-2: #e6e9ec;
  --color-dark-7: #364e65;

  --color-blue-6: #183d6d;
  --color-blue-7: #122f54;


  
  --color-red-5: #f6a791;
  --color-red-6: #de3e25;
  --color-red-7: #de3e25;
  
  --color-green-2: #e5f5ec;
  --color-green-5: #7ad2a4;
  --color-green-6: #2fc584;
  --color-green-8: #115538;
}

.dark {
  --color-bg: #191a23;
  --color-base: #21232e;
  --color-bunny-dark: var(--color-dark-7);


  --color-dark-2: #2e313a;
  --color-dark-4: #525a6b;
  --color-dark-5: #6a738a;
  --color-dark-7: #bfc6d0;

  --color-blue-6: #6798f3;
  --color-blue-7: #86b3ff;


  
  --color-red-5: #cc675f;
  --color-red-6: #e9776a;
  --color-red-7: #f59588;
  
  --color-green-2: #57e3b0;
  --color-green-5: #238c65;
  --color-green-6: #1a5d44;
  --color-green-8: #0c1f1a;
}